.commentContainer{
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1600px;
  min-height: 60px;
  background: #ffffff;
  box-shadow:  9px 9px 18px #c7c7c7,
  -9px -9px 18px #f9f9f9;
  border-radius: 10px;

  .commentHeader{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .commentAuthor{
      margin: 10px 0 0 10px;
      font-weight: bold ;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
    }
    .commentChildren{
      margin: 10px 10px 0 0;
      font-weight: bold ;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      cursor: pointer;
    }
  }


  .commentContent{
    margin: 10px 0 0 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: rgb(154, 154, 154);
    width:98%;
  }

  .commentTime{
    align-self: flex-end;
    justify-self: flex-end;
    margin: 20px 10px 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #102226;
  }

}