@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Roboto&display=swap');

$dark: #102226;

///* Color Theme Swatches in Hex */
//.UI/UX-1-hex { color: #102226; }
//.UI/UX-2-hex { color: #A66946; }
//.UI/UX-3-hex { color: #D9A384; }
//.UI/UX-4-hex { color: #8C4C35; }
//.UI/UX-5-hex { color: #BFBFBF; }
//
///* Color Theme Swatches in RGBA */
//.UI/UX-1-rgba { color: rgba(16, 34, 38, 1); }
//.UI/UX-2-rgba { color: rgba(165, 104, 69, 1); }
//.UI/UX-3-rgba { color: rgba(216, 163, 132, 1); }
//.UI/UX-4-rgba { color: rgba(140, 76, 53, 1); }
//.UI/UX-5-rgba { color: rgba(191, 191, 191, 1); }
//
///* Color Theme Swatches in HSLA */
//.UI/UX-1-hsla { color: hsla(191, 40, 10, 1); }
//.UI/UX-2-hsla { color: hsla(22, 40, 46, 1); }
//.UI/UX-3-hsla { color: hsla(22, 52, 68, 1); }
//.UI/UX-4-hsla { color: hsla(16, 44, 37, 1); }
//.UI/UX-5-hsla { color: hsla(0, 0, 75, 1); }

* {
  padding: 0;
  margin:0;
}

.mainContainer{
  width: 100%;
  height:70px;
  background: $dark;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .sourceName{
      cursor:pointer;
      font-size:32px;
      color: #ffffff;
      font-weight: bold ;
      font-family: 'Inter', sans-serif;
  }
}