.app{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  .articlesContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 1280px;
    height: 90vh;
    overflow: auto;
    padding:  0 10px 0 0 ;
  }
  .articlesContainer::-webkit-scrollbar {
    width: 6px;               /* ширина scrollbar */
  }
  .articlesContainer::-webkit-scrollbar-track {
    background: #BFBFBF;        /* цвет дорожки */
  }
  .articlesContainer::-webkit-scrollbar-thumb {
    background-color: #102226;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }
}
