@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Roboto&display=swap');

$black: #102226;
$grey: rgb(154, 154, 154);
$white: #ffffff;
$gold: gold;
$shadow: #c7c7c7;
$whiteBoxes: #f9f9f9;
$brown: #A66946;
$brightBrown: #D9A384;
$bright: #8C4C35;

$scrollGrey: #BFBFBF

