@charset "UTF-8";
.mainContainer {
  width: 99%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0 0 0;
}
.mainContainer .contentContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
}
.mainContainer .contentContainer .repLink {
  width: 1600px;
  cursor: pointer;
  font-size: 18px;
  color: #102226;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.mainContainer .contentContainer .repLink span {
  font-size: 24px;
}
.mainContainer .contentContainer .repLink:hover {
  text-decoration: underline;
}
.mainContainer .contentContainer .article {
  overflow: auto;
  width: 100%;
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.mainContainer .contentContainer .article .articleContainer {
  width: 1600px;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 40px 0 40px;
  row-gap: 40px;
}
.mainContainer .contentContainer .article .articleContainer .articleName {
  font-size: 24px;
  color: #102226;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.mainContainer .contentContainer .article .articleContainer .articleDescription {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 50px;
}
.mainContainer .contentContainer .article .articleContainer .articleDescription .articleCommentsAmount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.mainContainer .contentContainer .article .articleContainer .articleDescription .articleDate, .mainContainer .contentContainer .article .articleContainer .articleDescription .articleCommentsAmount > p {
  font-size: 14px;
  color: rgb(154, 154, 154);
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.mainContainer .contentContainer .article .articleContainer .articleDescription .articleCommentsAmount > .articlesLogo {
  width: 18px;
  height: 18px;
  background: #9a9a9a;
}
.mainContainer .contentContainer .article .articleContent {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #102226;
}
.mainContainer .contentContainer .article .articlePostContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.mainContainer .contentContainer .article .articlePostContent .articleAuthor, .mainContainer .contentContainer .article .articlePostContent .articleLink {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgb(154, 154, 154);
}
.mainContainer .contentContainer .article .articlePostContent .articleLink {
  cursor: pointer;
}
.mainContainer .contentContainer .article .commentsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 20px 0;
}
.mainContainer .contentContainer .article .commentsContainer .commentsTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
}
.mainContainer .contentContainer .article .commentsContainer .commentsTop .commentsHeader {
  font-size: 24px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #102226;
}
.mainContainer .contentContainer .article .commentsContainer .commentsTop .reloadButton {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: #102226;
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
.mainContainer .contentContainer .article .commentsContainer .commentsPool {
  width: 1600px;
  height: fit-content;
  margin: 30px 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.article::-webkit-scrollbar {
  width: 6px; /* ширина scrollbar */
}

.article::-webkit-scrollbar-track {
  background: #BFBFBF; /* цвет дорожки */
}

.article::-webkit-scrollbar-thumb {
  background-color: #102226; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
}

@media (min-width: 1600px) {
  .mainContainer {
    justify-content: center;
    align-items: center;
  }
  .mainContainer .contentContainer {
    height: 90vh;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .mainContainer .contentContainer {
    height: 85vh;
  }
  .mainContainer .contentContainer .repLink {
    width: 1100px;
  }
  .mainContainer .contentContainer .article .articleContainer {
    width: 1100px;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop {
    width: 1100px;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsPool {
    width: 1100px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .mainContainer .contentContainer {
    height: 85vh;
  }
  .mainContainer .contentContainer .repLink {
    width: 900px;
  }
  .mainContainer .contentContainer .article .articleContainer {
    width: 900px;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop {
    width: 900px;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsPool {
    width: 900px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .mainContainer .contentContainer {
    height: 85vh;
  }
  .mainContainer .contentContainer .repLink {
    width: 700px;
  }
  .mainContainer .contentContainer .article .articleContainer {
    width: 700px;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop {
    width: 700px;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsPool {
    width: 700px;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .mainContainer .contentContainer {
    height: 85vh;
  }
  .mainContainer .contentContainer .repLink {
    width: 80vw;
  }
  .mainContainer .contentContainer .article .articleContainer {
    width: 80vw;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop {
    width: 80vw;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsPool {
    width: 80vw;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .mainContainer .contentContainer {
    height: 85vh;
  }
  .mainContainer .contentContainer .repLink {
    width: 80vw;
  }
  .mainContainer .contentContainer .article .articleContainer {
    width: 80vw;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop {
    width: 80vw;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsPool {
    width: 80vw;
  }
}
@media (min-width: 350px) and (max-width: 500px) {
  .mainContainer .contentContainer {
    height: 85vh;
  }
  .mainContainer .contentContainer .repLink {
    width: 75vw;
  }
  .mainContainer .contentContainer .article .articleContainer {
    width: 75vw;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop {
    width: 75vw;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsPool {
    width: 75vw;
  }
}
@media (min-width: 200px) and (max-width: 350px) {
  .mainContainer .contentContainer {
    height: 85vh;
  }
  .mainContainer .contentContainer .repLink {
    width: 85vw;
    font-size: 14px;
  }
  .mainContainer .contentContainer .repLink span {
    font-size: 16px;
  }
  .mainContainer .contentContainer .article .articleContainer {
    width: 65vw;
  }
  .mainContainer .contentContainer .article .articleContainer .articleName {
    font-size: 18px;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop .commentsHeader {
    font-size: 18px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #102226;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsTop .reloadButton {
    width: 100px;
    height: 40px;
    background: #102226;
    color: #ffffff;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
  }
  .mainContainer .contentContainer .article .commentsContainer .commentsPool {
    width: 65vw;
  }
}

/*# sourceMappingURL=articlePageStyles.module.css.map */
