@import './src/utils/Styles/_colours.scss';

.mainContainer{
  width: 100%;
  height:70px;
  background: $black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .sourceName{
      cursor:pointer;
      font-size:32px;
      color: $white;
      font-weight: bold ;

  }
}